<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>http://m.weather.com.cn/img/b%d.gif</string>
	<key>url1</key>
	<string>http://www.weather.com.cn/data/sk/area-code.html</string>
	<key>url2</key>
	<string>http://www.weather.com.cn/data/cityinfo/area-code.html</string>
	<key>url3</key>
	<string>http://m.weather.com.cn/data/area-code.html</string>
	<key>list</key>
	<array>
		<dict>
			<key>pinying</key>
			<string>beijing</string>
			<key>province</key>
			<string>北京</string>
			<key>key</key>
			<string>b</string>
			<key>capital</key>
			<string>北京</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>北京</string>
					<key>area_code</key>
					<string>101010100</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>上海</string>
			<key>pinying</key>
			<string>shanghai</string>
			<key>capital</key>
			<string>上海</string>
			<key>key</key>
			<string>s</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>上海</string>
					<key>area_code</key>
					<string>101020100</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>天津</string>
			<key>pinying</key>
			<string>tianjing</string>
			<key>capital</key>
			<string>天津</string>
			<key>key</key>
			<string>t</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>天津</string>
					<key>area_code</key>
					<string>101030100</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pinying</key>
			<string>chongqing</string>
			<key>province</key>
			<string>重庆</string>
			<key>capital</key>
			<string>重庆</string>
			<key>key</key>
			<string>c</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>重庆</string>
					<key>area_code</key>
					<string>101040100</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pinying</key>
			<string>heilongjiang</string>
			<key>province</key>
			<string>黑龙江</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>哈尔滨</string>
					<key>area_code</key>
					<string>101050101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>齐齐哈尔</string>
					<key>area_code</key>
					<string>101050201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>牡丹江</string>
					<key>area_code</key>
					<string>101050301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>大庆</string>
					<key>area_code</key>
					<string>101050201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>伊春</string>
					<key>area_code</key>
					<string>101050401</string>
				</dict>
				<dict>
					<key>city</key>
					<string>双鸭山</string>
					<key>area_code</key>
					<string>101050801</string>
				</dict>
				<dict>
					<key>city</key>
					<string>鹤岗</string>
					<key>area_code</key>
					<string>101050901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>鸡西</string>
					<key>area_code</key>
					<string>101051301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>佳木斯</string>
					<key>area_code</key>
					<string>101051201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>绥化</string>
					<key>area_code</key>
					<string>101050501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>大兴安岭</string>
					<key>area_code</key>
					<string>101050701</string>
				</dict>
			</array>
			<key>key</key>
			<string>h</string>
			<key>capical</key>
			<string>哈尔滨</string>
		</dict>
		<dict>
			<key>pinying</key>
			<string>jiling</string>
			<key>province</key>
			<string>吉林</string>
			<key>key</key>
			<string>j</string>
			<key>capital</key>
			<string>长春</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>长春</string>
					<key>area_code</key>
					<string>101060101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>延吉</string>
					<key>area_code</key>
					<string>101060301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>吉林</string>
					<key>area_code</key>
					<string>101060201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>白山</string>
					<key>area_code</key>
					<string>101060901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>白城</string>
					<key>area_code</key>
					<string>101060601</string>
				</dict>
				<dict>
					<key>city</key>
					<string>四平</string>
					<key>area_code</key>
					<string>101060401</string>
				</dict>
				<dict>
					<key>city</key>
					<string>松原</string>
					<key>area_code</key>
					<string>101060801</string>
				</dict>
				<dict>
					<key>city</key>
					<string>辽源</string>
					<key>area_code</key>
					<string>101060701</string>
				</dict>
				<dict>
					<key>city</key>
					<string>大安</string>
					<key>area_code</key>
					<string>101060603</string>
				</dict>
				<dict>
					<key>city</key>
					<string>通化</string>
					<key>area_code</key>
					<string>101060501</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pinying</key>
			<string>liaoling</string>
			<key>capital</key>
			<string>沈阳</string>
			<key>key</key>
			<string>s</string>
			<key>province</key>
			<string>辽宁</string>
			<key>cities</key>
			<array>
				<dict>
					<key>area_code</key>
					<string>101070101</string>
					<key>city</key>
					<string>沈阳</string>
				</dict>
				<dict>
					<key>city</key>
					<string>大连</string>
					<key>area_code</key>
					<string>101070201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>葫芦岛</string>
					<key>area_code</key>
					<string>101071401</string>
				</dict>
				<dict>
					<key>city</key>
					<string>盘锦</string>
					<key>area_code</key>
					<string>101071301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>本溪</string>
					<key>area_code</key>
					<string>101070501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>抚顺</string>
					<key>area_code</key>
					<string>101070501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>铁岭</string>
					<key>area_code</key>
					<string>101070401</string>
				</dict>
				<dict>
					<key>city</key>
					<string>辽阳</string>
					<key>area_code</key>
					<string>101071101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>营口</string>
					<key>area_code</key>
					<string>101071001</string>
				</dict>
				<dict>
					<key>city</key>
					<string>阜新</string>
					<key>area_code</key>
					<string>101070801</string>
				</dict>
				<dict>
					<key>city</key>
					<string>朝阳</string>
					<key>area_code</key>
					<string>101070901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>锦州</string>
					<key>area_code</key>
					<string>101070701</string>
				</dict>
				<dict>
					<key>city</key>
					<string>丹东</string>
					<key>area_code</key>
					<string>101070601</string>
				</dict>
				<dict>
					<key>city</key>
					<string>鞍山</string>
					<key>area_code</key>
					<string>101070301</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>内蒙古</string>
			<key>pinying</key>
			<string>neimenggu</string>
			<key>key</key>
			<string>l</string>
			<key>capital</key>
			<string>呼和浩特</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>呼和浩特</string>
					<key>area_code</key>
					<string>101080101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>呼伦贝尔</string>
					<key>area_code</key>
					<string>101081000</string>
				</dict>
				<dict>
					<key>city</key>
					<string>锡林浩特</string>
					<key>area_code</key>
					<string>101080901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>包头</string>
					<key>area_code</key>
					<string>101080201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>赤峰</string>
					<key>area_code</key>
					<string>101080601</string>
				</dict>
				<dict>
					<key>city</key>
					<string>海拉尔</string>
					<key>area_code</key>
					<string>101081001</string>
				</dict>
				<dict>
					<key>city</key>
					<string>鄂尔多斯</string>
					<key>area_code</key>
					<string>101080701</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>河北</string>
			<key>pinying</key>
			<string>hebei</string>
			<key>key</key>
			<string>h</string>
			<key>capital</key>
			<string>石家庄</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>石家庄</string>
					<key>area_code</key>
					<string>101090101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>唐山</string>
					<key>area_code</key>
					<string>101090501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>张家口</string>
					<key>area_code</key>
					<string>101090301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>廊坊</string>
					<key>area_code</key>
					<string>101090601</string>
				</dict>
				<dict>
					<key>city</key>
					<string>邢台</string>
					<key>area_code</key>
					<string>101090901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>邯郸</string>
					<key>area_code</key>
					<string>101091001</string>
				</dict>
				<dict>
					<key>city</key>
					<string>保定</string>
					<key>area_code</key>
					<string>101090701</string>
				</dict>
				<dict>
					<key>city</key>
					<string>秦皇岛</string>
					<key>area_code</key>
					<string>101091101</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>河南</string>
			<key>pinying</key>
			<string>henan</string>
			<key>capital</key>
			<string>郑州</string>
			<key>key</key>
			<string>z</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>郑州</string>
					<key>area_code</key>
					<string>101180101</string>
				</dict>
				<dict>
					<key>area_code</key>
					<string>101180801</string>
					<key>city</key>
					<string>开封</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>山东</string>
			<key>pinying</key>
			<string>shandong</string>
			<key>key</key>
			<string>s</string>
			<key>capital</key>
			<string>济南</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>济南</string>
					<key>area_code</key>
					<string>101120101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>青岛</string>
					<key>area_code</key>
					<string>101120201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>威海</string>
					<key>area_code</key>
					<string>101121301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>烟台</string>
					<key>area_code</key>
					<string>101120501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>潍纺</string>
					<key>area_code</key>
					<string>101120601</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>山西</string>
			<key>pinying</key>
			<string>shanxi</string>
			<key>key</key>
			<string>s</string>
			<key>capital</key>
			<string>太原</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>太原</string>
					<key>area_code</key>
					<string>101100101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>阳泉</string>
					<key>area_code</key>
					<string>101100301</string>
				</dict>
				<dict>
					<key>area_code</key>
					<string>101100601</string>
					<key>city</key>
					<string>晋城</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>江苏</string>
			<key>pinying</key>
			<string>jiangsu</string>
			<key>key</key>
			<string>j</string>
			<key>capital</key>
			<string>南京</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>南京</string>
					<key>area_code</key>
					<string>101190101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>苏州</string>
					<key>area_code</key>
					<string>101190401</string>
				</dict>
				<dict>
					<key>city</key>
					<string>昆山</string>
					<key>area_code</key>
					<string>101190404</string>
				</dict>
				<dict>
					<key>city</key>
					<string>南通</string>
					<key>area_code</key>
					<string>101190501</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>安徽</string>
			<key>pinying</key>
			<string>anhui</string>
			<key>capital</key>
			<string>合肥</string>
			<key>key</key>
			<string>h</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>合肥</string>
					<key>area_code</key>
					<string>101220101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>安庆</string>
					<key>area_code</key>
					<string>101220201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>芜湖</string>
					<key>area_code</key>
					<string>101220401</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>陕西</string>
			<key>pinying</key>
			<string>shenxi</string>
			<key>capital</key>
			<string>西安</string>
			<key>key</key>
			<string>x</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>西安</string>
					<key>area_code</key>
					<string>101110101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>汉中</string>
					<key>area_code</key>
					<string>101110801</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>宁夏</string>
			<key>pinying</key>
			<string>lingxia</string>
			<key>capital</key>
			<string>银川</string>
			<key>key</key>
			<string>y</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>银川</string>
					<key>area_code</key>
					<string>101170101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>固原</string>
					<key>area_code</key>
					<string>101170401</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>甘肃</string>
			<key>pinying</key>
			<string>ganshu</string>
			<key>capital</key>
			<string>兰州</string>
			<key>key</key>
			<string>l</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>兰州</string>
					<key>area_code</key>
					<string>101160101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>白银</string>
					<key>area_code</key>
					<string>101160301</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>青海</string>
			<key>pinying</key>
			<string>qinghai</string>
			<key>capital</key>
			<string>西宁</string>
			<key>key</key>
			<string>x</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>西宁</string>
					<key>area_code</key>
					<string>101150101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>海北</string>
					<key>area_code</key>
					<string>101150701</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>湖北</string>
			<key>pinying</key>
			<string>hebei</string>
			<key>capital</key>
			<string>武汉</string>
			<key>key</key>
			<string>h</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>武汉</string>
					<key>area_code</key>
					<string>101200101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>宜昌</string>
					<key>area_code</key>
					<string>101200901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>黄冈</string>
					<key>area_code</key>
					<string>101200501</string>
				</dict>
				<dict>
					<key>city</key>
					<string>恩施</string>
					<key>area_code</key>
					<string>101201001</string>
				</dict>
				<dict>
					<key>city</key>
					<string>荆州</string>
					<key>area_code</key>
					<string>101200801</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>湖南</string>
			<key>pinying</key>
			<string>hunan</string>
			<key>capital</key>
			<string>长沙</string>
			<key>key</key>
			<string>h</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>长沙</string>
					<key>area_code</key>
					<string>101250101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>邵阳</string>
					<key>area_code</key>
					<string>101250901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>常德</string>
					<key>area_code</key>
					<string>101250601</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>浙江</string>
			<key>pinying</key>
			<string>zhejiang</string>
			<key>capical</key>
			<string>杭州</string>
			<key>key</key>
			<string>z</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>湖州</string>
					<key>area_code</key>
					<string>101210201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>金华</string>
					<key>area_code</key>
					<string>101210901</string>
				</dict>
				<dict>
					<key>area_code</key>
					<string>101210401</string>
					<key>city</key>
					<string>宁波</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>江西</string>
			<key>pinying</key>
			<string>jiangxi</string>
			<key>capical</key>
			<string>南昌</string>
			<key>key</key>
			<string>j</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>萍乡</string>
					<key>area_code</key>
					<string>101240901</string>
				</dict>
				<dict>
					<key>city</key>
					<string>九江</string>
					<key>area_code</key>
					<string>101240201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>上饶</string>
					<key>area_code</key>
					<string>101240301</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>福建</string>
			<key>pinying</key>
			<string>fujian</string>
			<key>capical</key>
			<string>福州</string>
			<key>key</key>
			<string>f</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>厦门</string>
					<key>area_code</key>
					<string>101230201</string>
				</dict>
				<dict>
					<key>city</key>
					<string>龙岩</string>
					<key>area_code</key>
					<string>101230701</string>
				</dict>
				<dict>
					<key>city</key>
					<string>南平</string>
					<key>area_code</key>
					<string>101230901</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>贵州</string>
			<key>pinying</key>
			<string>guizhou</string>
			<key>capical</key>
			<string>贵阳</string>
			<key>key</key>
			<string>g</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>贵阳</string>
					<key>area_code</key>
					<string>101260101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>安顺</string>
					<key>area_code</key>
					<string>101260301</string>
				</dict>
				<dict>
					<key>city</key>
					<string>铜仁</string>
					<key>area_code</key>
					<string>101260208</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>四川</string>
			<key>pinying</key>
			<string>shichuan</string>
			<key>capital</key>
			<string>成都</string>
			<key>key</key>
			<string>s</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>成都</string>
					<key>area_code</key>
					<string>101270101</string>
				</dict>
				<dict>
					<key>area_code</key>
					<string>101271201</string>
					<key>city</key>
					<string>阿坝</string>
				</dict>
				<dict>
					<key>city</key>
					<string>广元</string>
					<key>area_code</key>
					<string>101271601</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>广东</string>
			<key>pinying</key>
			<string>guangdong</string>
			<key>capital</key>
			<string>广州</string>
			<key>key</key>
			<string>g</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>广州</string>
					<key>area_code</key>
					<string>101280101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>深圳</string>
					<key>area_code</key>
					<string>101280601</string>
				</dict>
				<dict>
					<key>city</key>
					<string>东莞</string>
					<key>area_code</key>
					<string>101280501</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>广西</string>
			<key>pinying</key>
			<string>guangxi</string>
			<key>capital</key>
			<string>南宁</string>
			<key>key</key>
			<string>n</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>南宁</string>
					<key>area_code</key>
					<string>101300101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>桂林</string>
					<key>area_code</key>
					<string>101300501</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>云南</string>
			<key>pinying</key>
			<string>yunnan</string>
			<key>capital</key>
			<string>昆明</string>
			<key>key</key>
			<string>y</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>昆明</string>
					<key>area_code</key>
					<string>101290101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>保山</string>
					<key>area_code</key>
					<string>101290501</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>海南</string>
			<key>pinying</key>
			<string>hainan</string>
			<key>capital</key>
			<string>海口</string>
			<key>key</key>
			<string>h</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>海口</string>
					<key>area_code</key>
					<string>101310101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>三亚</string>
					<key>area_code</key>
					<string>101310201</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>新疆</string>
			<key>pinying</key>
			<string>xingjiang</string>
			<key>capital</key>
			<string>乌鲁木齐</string>
			<key>key</key>
			<string>x</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>乌鲁木齐</string>
					<key>area_code</key>
					<string>101130101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>阿勒泰</string>
					<key>area_code</key>
					<string>101131401</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>西藏</string>
			<key>pinying</key>
			<string>xizang</string>
			<key>capital</key>
			<string>拉萨</string>
			<key>key</key>
			<string>x</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>拉萨</string>
					<key>area_code</key>
					<string>101140101</string>
				</dict>
				<dict>
					<key>city</key>
					<string>阿里</string>
					<key>area_code</key>
					<string>101140401</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>province</key>
			<string>台湾</string>
			<key>pinying</key>
			<string>taiwan</string>
			<key>capital</key>
			<string>台北</string>
			<key>key</key>
			<string>t</string>
			<key>cities</key>
			<array>
				<dict>
					<key>city</key>
					<string>台北</string>
					<key>area_code</key>
					<string>101340102</string>
				</dict>
				<dict>
					<key>city</key>
					<string>高雄</string>
					<key>area_code</key>
					<string>101340201</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
